@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .lightpurple {
        background-color: #d3c7e9;
</style>

<div class="lightpurple">
    <div class="text-center">
        <h1 class="display-4">Welcome to Chirp Social</h1>
        <h3>We believe real change starts with no conversation</h3>
    </div>
    <div class="text-center">
        <p>Please select an account to get started</p>
    </div>
</div>
